<section id="hero">

    <div class="container">
      <div class="row d-flex align-items-center"">
      <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
        <h1>Tené tu propio sitio web.</h1>
        <h2>Y promocioná tu producto/ servicio.</h2>
        <a href="#about" class="btn-get-started scrollto">Ver más</a>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
        <img src="img/hero-img.png" class="img-fluid" alt="">
      </div>
    </div>
    </div>

  </section>